@CHARSET "UTF-8";
.cart_allselect{
	width:1300px;
	border:3px solid #c0c0c0;
}
.cart_single{
	width:1300px;
	height:100px;
	border:1px solid red;
	margin-top:8px;
}
.cart_single_checkbox{
	float:left;
	width:100px;
	height:100px;
	border:1px solid red;
}
.cart_single_img{
	float:left;
	width:150px;
	height:100px;
	border:1px solid green;
}
.cart_single_version{
	float:left;
	width:200px;
	height:100px;
	border:1px solid green;
}
.cart_single_version_v{
	width:200px;
	height:20px;
	margin-top:50px;
	text-align:center;
}
.cart_single_num{
	float:left;
	width:200px;
	height:100px;
	border:1px solid black;
}
.cart_single_num_b1,.cart_single_num_b2{
	margin:10px;
	font-size:20px;
	width:32px;
	height:32px;
	cursor:pointer;
}
.cart_single_num_text{
	text-align:center;
	width:31px;
	height:32px;
	ime-mode:Disabled
}
.cart_pay{
	width:1300px;
	height:50px;
}
.cart_pay_b{
	float:right;
	width:80px;
	height:50px;
	font-size:18px;
	background-color:white;
	color:black;
}