@CHARSET "UTF-8";
.Goods{
}
.Goods_good{
	width:1360px;
}
.Goods_good_i{
	float:left;
	width:475px;
	height:430px;
}
.Goods_good_i_cimg{
	width:475px;
	height:350px;
	border:1px solid red;
}
#Goods_good_i_cimg_img{
	width:475px;
	height:350px;
}
.Goods_good_simg{
	position:relative;
	left:5px;
	margin:5px;
	float:left;
	width:74px;
	height:71px;
	border:1px solid red;
	opacity:0.5;
}
.Goods_good_simg_selected{
	position:relative;
	left:5px;
	margin:5px;
	float:left;
	width:74px;
	height:71px;
	border:1px solid red;
	opacity:1;
}
.Goods_good_type{
	width:660px;
	height:430px;
	float:left;
}
.Goods_good_type_title{
	float:left;
	width:650px;
	height:65px;
	margin:10px;
	font-size:20px;
	font-weight:600;
}
.Goods_good_type_left{
	width:60px;
	float:left;
	font-size:15px;
	margin:10px;
	margin-top:20px;
	text-align:center;
	font-weight:500;
}
.Goods_good_type_t{
	display:none;
}
.Goods_good_type_price{
	float:left;
	width:560px;
	height:65px;
	margin:5px;
	color:red;
	font-size:20px;
	font-weight:900;
}
.Goods_good_type_price_text{
	display:none;
}
.Goods_good_type_c{
	float:left;
	width:570px;
	height:71px;
}
.Goods_good_type_c_color{
	float:left;
	width:70px;
	height:32px;
	float:left;
	border:1px solid black;
	cursor:pointer;
	margin:10px;
	font-weight:500;
	text-align:center;
}
.Goods_good_type_c_color_selected{
	float:left;
	width:70px;
	height:32px;
	border:1px solid black;
	cursor:pointer;	
	margin:10px;
	font-weight:500;
	background-color:#c0c0c0;
	text-align:center;
}
.Goods_good_type_v{
	float:left;
	width:570px;
	height:71px;
}
.Goods_good_type_v_version{
	float:left;
	width:75px;
	height:32px;
	border:1px solid black;
	cursor:pointer;
	margin:10px;
	font-weight:500;
	text-align:center;
}
.Goods_good_type_v_version_selected{
	float:left;
	width:75px;
	height:32px;
	border:1px solid black;
	cursor:pointer;
	margin:10px;
	font-weight:500;
	background-color:#c0c0c0;
	text-align:center;	
}
.Goods_good_type_num{
	float:left;
	position:relative;
	left:40px;
	width:530px;
	height:61px;
}
.Goods_good_type_num_b1,.Goods_good_type_num_b2{
	margin:10px;
	font-size:20px;
	width:32px;
	height:32px;
	cursor:pointer;
}
.Goods_good_type_num_text{
	text-align:center;
	width:31px;
	height:32px;
	ime-mode:Disabled
}
.Goods_good_type_pay{
	float:left;
	text-align:center;
	width:660px;
	height:57px;
}
#Goods_good_type_pay_text{
	display:none;
}
.Goods_good_type_pay_b1{
	width:220px;
	height:38px;
	background-color:#ff8000;
	font-size:20px;
	cursor:pointer;
}
.Goods_good_type_pay_b1:hover{
	width:220px;
	height:38px;
	background-color:#ff8040;
	font-size:20px;
	cursor:pointer;
}
.Goods_good_type_pay_b2{
	width:220px;
	height:38px;
	background-color:#fd0227;
	font-size:20px;
	cursor:pointer;
}
.Goods_good_type_pay_b2:hover{
	width:220px;
	height:38px;
	background-color:#ff0000;
	font-size:20px;
	cursor:pointer;
}
.Goods_shop{
	width:180px;
	float:left;
	height:430px;
	border:3px solid #c0c0c0;
}
.Goods_shop_i{
	width:180px;
	margin:auto;
	height:107px;
}
.Goods_shop_i_img{
	width:70px;
	height:70px;
	margin-top:18px;
	margin-left:57px;
}
.Goods_shop_s{
	width:180px;
	height:50px;
	text-align:center;
}
.Goods_shop_s_storename{
	position:relative;
	top:10px;
	font-size:18px;
	font-weight:500;
	font-family:宋体;
	text-align:center;
}
.Goods_shop_o{
	width:180px;
	margin:auto;
	height:50px;
	text-align:center;
}
.Goods_shop_o_ownername{
	position:relative;
	top:10px;
	font-size:18px;
	font-weight:500;
	font-family:宋体;
	text-align:center;
}
.Goods_shop_b_button{
	margin:10px;
	width:165px;
	height:38;
	font-size:20px;
	font-weight:500;
	color:white;
	background-color:green;
	cursor:pointer;	
}
.Goods_good_type_id{
	display:none;
}