@CHARSET "UTF-8";

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: red;
}

li {
	display: inline;
	list-style: none;
}

table {
	text-align: center;
}
/***************第一块 ********************/
.header, .header2 {
	text-align: center;
	font-size: 15px;
	font-weight: 100;
}

.header {
	background-color: #f5f5f5;
}

.header_left, .header2_left {
	float: left;
}

.header_right {
	width:250px;
	float: right;
}

.header_left_user {
	width : 60px;
	height: 30px;
}

.header_left_user_d-image {
	font-size: 13px; 
	width : 60px;
	height: 30px;
	float: left;
	width: 30px;
}

.header_left_user_d-a {
	width: 30px;
	height: 30px;
	float: left;
}

.header_left_user_image {
	margin:2px;
	width: 51px;
	height: 51px;
}
/***************第二块 ********************/
.header2_left {
	width: 145px;
}

.header2_center {
	position:absolute;
	top:30px;
	left:400px;
	height: 80px;
}

.header2_center_top {
	text-align: left;
	height: 18px;
}

.header2_center_top_Goods {
	float:left;
	height: 20px;
	width: 40px;
	font-size: 15px;
	font-family: 宋体;
	font-weight: 300;
	border: 1px solid #ff7624;
	cursor:default;
}

.header2_center_top_Shop {
	float:left;
	height: 20px;
	width: 40px;
	font-size: 15x;
	font-family: 宋体;
	font-weight: 300;
	border: 1px solid #ff7624;
	cursor:default;
}

.header2_center_top_Goods_selected {
	float:left;
	height: 20px;
	width: 40px;
	color: white;
	font-size: 15px;
	font-family: 宋体;
	font-weight: 300;
	background-color: #ff7624;
	border: 1px solid #ff7624;
	cursor:default;
}

.header2_center_top_Shop_selected {
	float:left;
	height: 20px;
	width: 40px;
	color: white;
	font-size: 15x;
	font-family: 宋体;
	font-weight: 300;
	background-color: #ff7624;
	border: 1px solid #ff7624;
	cursor:default;
}

.header2_center_buttom {
	margin: auto;
	background-color: #ff7624;
	border: none;
}

.header2_center_select {
	float: left; 
	width: 625px;
	height: 38px;
	font-size: 20px;
	border: 10px;
}

.header2_center_selectbutton {
	float: left;
	width: 50px;
	height: 38px;
	background-color: #ff7624;
	font-size: 10px;
	font-family: 黑体;
	color: #ffffff;
	font-weight: 200;
	border: 0px;
	cursor:pointer;
}
/***************第三块 ********************/
.body {
	text-align: center;
}

.body_type {
	position:absolute;
	top:120px;
	left:30px;
	width: 1320px;
	height: 50px;
	margin: 1px auto;
}

.body_good {
	margin-left:18px;
	width: 1300px;
	height: 500px;
	border: 3px solid #ff8080;
}

.body_type_b1 {
	border-right: none;
}

.body_type_b3 {
	border-left: none;
}

.body_type_b1, .body_type_b2, .body_type_b3 {
	border: 1 solid black;
	border-bottom: none;
	width: 432;
	background-color: white;
	font-size: 30;
	font-family: 宋体;
	font-weight: 500;
	color: black;
	cursor:pointer;	
}
.body_type_b1_action{
	border-bottom: none;
	width: 432px;
	background-color: #ff0000;
	font-size: 30px;
	font-family: 宋体;
	font-weight: 500;
	color: #ffffff;
	cursor:pointer;	
} 
.body_type_b2_action{
	border-bottom: none;
	width:432px;
	background-color: #0080c0;
	font-size: 30px;
	font-family: 宋体;
	font-weight: 500;
	color: #ffffff;
	cursor:pointer;	
}
.body_type_b3_action {
	border-bottom: none;
	width: 432px;
	background-color: #6fd728;
	font-size: 30px;
	font-family: 宋体;
	font-weight: 500;
	color: #ffffff;
	cursor:pointer;	
}

.body_type_selected {
	display:none;
}

.body_good_more {
	text-align: center;
	float: right;
	width: 65px;
	height: 20px;
	font-size: 20px;
	font-family: 黑体;
	font-weight: 300;
	padding: 10px;
}

.body_good_total{
	width: 1300px;
	height: 435px;
	border-top: 3px solid #0080ff;
}
.body_good_total_c,.body_good_total_b,.body_good_total_f{
	margin:1.5px;
	float:left;
	border: 1px solid #c0c0c0;
	width:320px;
	height:210px;
}
.body_good_total_c_img,.body_good_total_b_img,.body_good_total_f_img{
	float:left;
	width:190px;
	height:170px;
}